<!-- <app-post-list></app-post-list> -->
<!-- <app-sample-obs-subject></app-sample-obs-subject>
{{fromSub}} -->
<!-- <app-rxjs-creation></app-rxjs-creation> -->
<!-- <app-product></app-product> -->
<nav>
  <a routerLink="/rxjs-creation" routerLinkActive="active">RxJS Creation</a>
</nav>
<app-tdf-form></app-tdf-form>
<app-rdf></app-rdf>

<router-outlet></router-outlet>
<!-- <h1>Angular Lifecycle Hooks - User Profile</h1>

<button (click)="toggleUserProfile()">
  {{ showUserProfile ? 'Destroy' : 'Create' }} User Profile
</button>

<button (click)="changeUser()" *ngIf="showUserProfile">Change User</button>

<hr>

<app-lifecycles *ngIf="showUserProfile" [userId]="userId"></app-lifecycles> -->
<app-bindings></app-bindings>
